@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #3598db;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

a,
a:visited {
  color: #555;
  outline: none;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited:hover {
  color: #22a1c4;
  text-decoration: none;
}

.terbaru-container {
  background: #fff;
  width: 340px;
  margin: 5% auto;
  padding: 10px;
  border-radius: 5px;
}

ul.rcentside * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

ul.rcentside {
  font-size: 11px;
}

ul.rcentside,
ul.rcentside li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

ul.rcentside {
  width: 100%;
